input{
  color:green;
  background-color:blue;}
#nombre{
  font-family:"Courier";
}
.btnImportante{
  font-size:40px;
}
div input{
  color:red;
}
@keyframes animar{
  from{
    background-color:blue;
    width:40px;
  }
  to{
    background-color:red;
    width:400px;
  }
}

input[type="submitt"]{
  animation-name:animar;
  animation-duration:10s;
}

#estado{
  width:40px;
  height:40px;
}

.clOnline{
  background-color:green;
}

.clOffline{
  background-color:red;
}
  
